* {
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    height: 1000px;
    width: 2000px;
}

#main1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    height: 1000px;
    width: 2000px;
}
